* {
    margin: 0;
    font-family: arial;
    border: border-box;
}

.navbar {
    height: 130px;
    /* padding: 20px; */
    background-color: #F0EDEE;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #B7E9F5;
    cursor: pointer;
    
}

/* box 1 */

/* .nav_logo {
    height: 50px;
    width: 100px;
} */

.logo {
    background-image: url('./image/logo.png');
    height: 130px;
    width: 120px;
    background-size: cover;
}

/* .border {
    border: 1.5px solid white;
} */

.border:hover {
    border: 1.5px solid #B7E9F5;
}

/* box 2 */

.nav_location {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    width: 250px;
    height: 40px;
    border-radius: 20px;
    align-items: center;
}

/* location button */

.location-icon {
    display: flex;
    justify-content: space-evenly;
    background-color: transparent;
    width: 180px;
    border-radius: 4px;
    gap: 5px;
    align-items: center;
    font-size: 20px;
}

.dropbtn {
    background-color: white;
    color: black;
    width: 240px;
    height: 40px;
    border: 1px solid lightcyan;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;

}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
    color: white;
}


/* nav-search */

.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: transparent;
    width: 450px;
    height: 40px;
    border-radius: 4px;

}

.search-bar {
    width: 450px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid lightgray;
    font-size: 16px;
    padding: 0px 105px 0px 15px;
}

.search-btn {
    width: 40px;
    background-color:transparent;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border: none;
    color: #90DDF0;

}


/* meassge icon Leads */

.sechicon {
    display: flex;
    justify-content: space-evenly;
    background-color: transparent;
    width: 80px;
    border-radius: 4px;
    gap: 5px;
    align-items: center;
    font-size: 20px;

}

/* login btton */

.loginbtn {
    height: 40px;
    width: 160px;
    background-color: transparent;
    display: flex;
    justify-content: center;    
    align-items: center;

}

.loginbtn .btn {
    width: 100%;
    height: 40px;
    background-color: aqua;
    color: black;
    border: none;
    font-size: 20px;
    border-radius: 25px;
    cursor: pointer;
}


/* slides images */

body {
    height: 100%;
    width: 100%;
    padding: 2px;
    justify-content: center;
    align-items: center;
}

.slideshow-container {
    position: relative;
    height: 400px;
    justify-content: center;
    align-items: center;
    padding: 8px 0px 4px 0px;
    overflow: hidden;
    border-radius: 10px;
  }

  .slides {
    display: none;
    width: 100%;
  }
  
  .slides img {
    width: 100%;
    display: block;
    height: 400px;
    background-size: contain;
    border-radius: 10px;
  }

  /* Fade animation */
  .fade {
    animation: fadeEffect 1s ease-in-out;
  }

  @keyframes fadeEffect {
    from { opacity: 0.4; }
    to { opacity: 1; }
  }


  .active {
    background-color: #fff;
  }

  .ima-text {
    text-align: center; 
    font-size: 42px;
    position: absolute;
    color: #07393C;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* company name */

  .company-nav {
    width: 100%;       /* fixed width */
    height: 450px;      /* fixed height */
    overflow-y: scroll; /* enables vertical scroll */
    border: 1px solid #ccc;
    scroll-behavior: smooth;
    margin-top: 20px;
    padding: 10px;  
    background-color:#FEFADC;
    cursor: pointer;
  }                             

.company-nav::-webkit-scrollbar {
  width: 8px;
  background: none;
}

.company-nav p {
    font-size: 30px;
    font-weight: bold;
    position: fixed;
    margin-top: -12px;
    z-index: 1;    
}
.company-logos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
    border: 1px solid black;
}  
.company-logos img {
    height: 300px;
    width: 200px;
    border: 1px solid black;
    border-radius: 10px;
    }

.company-logos a {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}